.navItem {
    margin-right: 20px;
}
.navItem:last-child {
    margin-right: 0;
}

.navItem {
    color: black;
}

.fadeIn {
    animation: fadeIn 1s ease both;
}

.paused {
    animation-play-state: paused;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
