#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 400px) {
    #root {
        padding: 1rem;
    }
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
    margin-bottom: 25px;
}

ul a {
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}
